GtkFrame, .frame{
border-style:solid;
border-color:#232323;
border-width:1px;
border-radius:0px;}

GtkScrolledWindow.frame{
padding:1px;
border-radius:0px;
background-color:#555;
border-top-width:1px;
border-style:solid;
border-top-color:#232323;
border-left-width:1px;
border-left-color:#232323;
border-right-width:1px;
border-right-color:#232323;
border-bottom-width:1px;
border-bottom-color:#424242;
box-shadow:inset 0px -1px 0px 0px #232323;}
